/* my intent for the landing is to let my name be the orientating content with a bit of engagemnt when going to a snapshot, where you can get a breif overview of me and the rest of the site without going to a diffrent page. */

.heroBackground {
  background-image: url("../../../Assets/images/jazmin-quaynor-97777-unsplash.jpg"), linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
  background-size: cover !important;
  background-position: center !important;
  background-blend-mode: overlay;
  color: white;
}

.Landing h1 {
  margin: 0;
  font-size: 5rem;
  font-family: 'Megrim', cursive;
}

.heroText {
  text-align: center;
}

.container>div>div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  pointer-events: none;
  justify-content: start !important;
  line-height: 2px;
  text-transform: uppercase;
}

.number {
  position: absolute;
  font-size: 50px;
  color: #373c4c;
}

.number span {
  display: inline-block;
  position: relative;
  height: 50%;
  transform: translate3d(5%, -20%, 0);
}

.landingSlideHeader {
  margin-left: 1%;
  font-size: 20px;
  color: white;
}

.stripe {
  height: 2px;
  width: auto;
}

.slopeBegin {
  background-color: #20232f;
  clip-path: polygon(20vw 0, 70% 0, calc(70% - 20vw) 100%, 0 100%);
}

.slopeEnd {
  clip-path: polygon(70% 0, 100% 0, calc(100% - 20vw) 100%, calc(70% - 20vw) 100%);
}

.slopeBegin,
.slopeEnd {
  position: absolute;
  width: 140%;
  height: 100%;
  cursor: pointer;
}

.pink {
  background-blend-mode: overlay;
  background-image: url('./svg/bank-note.svg');
  background-color: coral;
}

.teal {
  background-blend-mode: overlay;
  background-image: url('./svg/endless-clouds.svg');
  background-color: deepskyblue;
  ;
}

.tomato {
  background-blend-mode: overlay;
  background-image: url('./svg/wiggle.svg');
  background-color: gold;
}

.algae {
  background-blend-mode: overlay;
  background-image: url('./svg/overlapping-circles.svg');
  background-color: #44bd32;
}

.lavender {
  background-blend-mode: overlay;
  background-image: url('./svg/bubbles.svg');
  background-color: #8c7ae6;
}


/*
font-family: 'Poiret One', cursive; default
font-family: 'Megrim', cursive;     H1 H2
font-family: 'Waiting for the Sunrise', cursive;  accents 
*/

/* Smartphones (landscape) ----------- */

@media only screen and (min-width: 321px) {
  .number {
    font-size: 60px;
  }
  .landingSlideHeader {
    font-size: 20px;
  }
  .Landing h1 {
    font-size: 4rem;
  }
  .text {
    line-height: 1px;
  }
}

/* iPads (landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .number {
    font-size: 100px;
  }
  .landingSlideHeader {
    font-size: 35px;
  }
  .Landing h1 {
    font-size: 8rem;
  }
}

/* iPads (portrait) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .number {
    font-size: 110px;
  }
  .landingSlideHeader {
    font-size: 60px;
  }
  .Landing h1 {
    font-size: 8rem;
  }
}

/* Desktops and laptops ----------- */

@media only screen and (min-width: 1024px) {
  .number {
    font-size: 110px;
  }
  .landingSlideHeader {
    font-size: 60px;
  }
  .Landing h1 {
    font-size: 8rem;
  }
}

/* Large screens ----------- */

@media only screen and (min-width: 1824px) {
  .number {
    font-size: 230px;
  }
  .landingSlideHeader {
    font-size: 70px;
  }
  .Landing h1 {
    font-size: 8rem;
  }
  .text {
    line-height: 0;
  }
}

.blink {
  -webkit-animation: blink 4s infinite both;
  animation: blink 4s infinite both;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}