/* so as a rough draft ive set up a view where there are angled reveals to the fixed background appart from the sectioned background content allowing for a more intresting experience

however: using css for this in react is taxing on the render and causes jank with throttled performance, ill be revising this experience in my performance/test round*/

.profile{
    height: 100%;
    background-color: #273c75;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%23e84118' fill-opacity='0.79'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
}
.profileHero {
    padding-top: 4rem;
    background-image: url('../../../Assets/images/jeremy-galliani-505876-unsplash.jpg');
    background-color: #8c7ae6;
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height: 100vh;
    padding-bottom: 5rem;
    justify-content: center;
    font-size: 1em;
    align-items: center;
    color: white;
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
    
}

.profileHero h1, .intrestSection h1 {
    font-family: 'Waiting for the Sunrise', cursive;

}
.picContainer{
    padding: 1rem;
}
.profileDesc{
    padding: 1rem;
}
.myPic {
    height: 15rem;
    width: 15rem;
}

.intrestSection{
    height: 100vh;
    background-image: url('../../../Assets/images/sarah-dorweiler-127187-unsplash.jpg'),
     linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);

    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    -webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.intrestHero{

}

/* Smartphones (portrait and landscape) ----------- */

@media only screen and (max-device-width: 480px) {
    .profileHero{
        flex-direction: column-reverse;
    }
    .profileDesc{
            margin: 2rem;
            padding: 1rem;
            text-align: center;
    }
}

/* Smartphones (landscape) ----------- */

@media only screen and (min-width: 321px) {
    /* STYLES GO HERE */
}

/* Smartphones (portrait) ----------- */

@media only screen and (max-width: 320px) {
    /* STYLES GO HERE */
}

/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* STYLES GO HERE */
}

/* iPads (landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    /* STYLES GO HERE */
}

/* iPads (portrait) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* STYLES GO HERE */
}

/* Desktops and laptops ----------- */

@media only screen and (min-width: 1224px) {
    /* STYLES GO HERE */
}

/* Large screens ----------- */

@media only screen and (min-width: 1824px) {
    /* STYLES GO HERE */
}

/* iPhone 5 (portrait &amp; landscape)----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
    /* STYLES GO HERE */
}

/* iPhone 5 (landscape)----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
    /* STYLES GO HERE */
}

/* iPhone 5 (portrait)----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
    /* STYLES GO HERE */
}